<h1>Welcome</h1>
<ul>
<li><%= link_to 'Sign Up', new_user_registration_path %></li>
<li><%= link_to 'Sign In', new_user_session_path %></li>
<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<%= link_to 'New Location Search', new_location_search_path, method: 'get' %>
<%= link_to 'My Favorite Locations', current_user %>
