<div class="row-fluid">
  <div class="span12">
    <div id="header">
      <h1><%= @location_search.address %></h1>
    </div>
  </div>
</div>
<div class="grams-container">
  <div class="row-fluid">
    <div class="span12">
      <div class="google-map">
       <img src=<%= "http://maps.googleapis.com/maps/api/staticmap?center=#{@location_search.latitude},#{@location_search.longitude}8&zoom=15&size=640x200&sensor=false" %>>
     </div>
    </div>
  </div>

<% @instagrams.each do |instagram| %>
  <div class="row-fluid">
    <div class="span3">
      <ul class="instagrams">
        <a href="#" data-toggle="modal" data-target=<%= "#myModal" + instagram.link[-6..-2] %>>
        <li><%= image_tag instagram.images.low_resolution.url %></li>
        </a>
        <div class="modal fade" id=<%= "myModal#{instagram.link[-6..-2]}" %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-content">
            <div class="hidden">
              <li><a href=<%= "http://www.instagram.com/" +
                instagram.user.username %>><%=instagram.user.username %></a></li>
              <li><%= Time.at(instagram.created_time.to_i).strftime("%b %d, %l:%M") %></li>
              <% unless instagram.caption == nil %>
                <li><%= instagram.caption.text %></li>
              <% end %>
              <li><%= image_tag instagram.images.standard_resolution.url %></li>
          </div>
          </div>
        </div>
      </ul>
    </div>
  <% end %>
</div>
