<div class="row-fluid">
  <div class="span12">
    <div id="header">
      <h1><%= @location_search.address %></h1>
    </div>
  </div>
</div>
<div class="grams-container">
  <div class="row-fluid">
    <div class="span12">
      <div class="google-map">
       <img src=<%= "http://maps.googleapis.com/maps/api/staticmap?center=#{@location_search.latitude},#{@location_search.longitude}8&zoom=15&size=640x200&sensor=false" %>>
     </div>
    </div>
  </div>
    <ul>
      <% @instagrams.each_with_index do |instagram, i| %>
        <div class="row-fluid">
          <div class="span3">
            <div class="instagrams">
              <a href="#" data-toggle="modal"
                <%= "data-target=#myModal#{i}"%>>
                <li><%= image_tag instagram.images.low_resolution.url %></li>
              </a>
            </div>
          </div>
      <% end %>
    </div>
    </ul>
</div>

<% @instagrams.each_with_index do |instagram, i| %>
  <div class="modal fade hide" <%="id=myModal#{i}"%>
      tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
      <ul>
        <li id="standard-res-pic"><a href=<%= "http://www.instagram.com/" +
                  instagram.user.username %>><%=instagram.user.username %></a></li><br>
        <li><%= Time.at(instagram.created_time.to_i).strftime("%b %d, %l:%M") %></li><br>
        <% unless instagram.caption == nil %>
          <li><%= instagram.caption.text %></li>
        <% end %>
        <li><%= image_tag instagram.images.standard_resolution.url %></li>
      </ul>
    </div>
  </div>
<% end %>
